<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Reports and Documents</h2>
                    <h3 class="section-subheading">BscScan tracking for other international fund: </br>
                        <a href="https://binance.mintscan.io/txs/352649FF26C17EBCD74D195FB4B8AF8A22064D61DD8CC34931203C69355C099F" target="_blank">...</a>
                    <p></p></h3>
                    <p></p>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-2 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fab fa-readme"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
